html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-image: url("infinite_azure.jpg");
    background-size: cover;
    gap: 48px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    
}

.square {
    background-color: white;
    width: 30px;
    height: 30px;
}